<div class="col" style="margin-top: 30px;">
    <div class="card h-100">
        <a style="text-decoration: none;color:black;">
            <img src="../../assets/images/img1.png" class="card-img-top" alt="...">
            <span class="badge rounded-pill" style="background-color: #313C64;color:white" id="btn"></span>
            <div class="card-body">
                <p class="card-text"><small class="text-muted">Le lorem ipsum est</small></p>
                <h5 class="card-title">Le lorem ipsum est</h5>
                <p class="card-text">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée.</p>
            </div>
        </a>
    </div>
</div>