<div class="row " id="proBanner" style="padding: 0px 0px 40px 0px;">
    <div class="col-md-12">
        <h3 style="text-align: center;">
            Add Trust data
        </h3>
    </div>


    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
            </div>

            <div class="col-md-7">
                <div class="card-body" style="background-color: transparent;">
                    <div class="pop">
                        <span class="align-items-center purchase-popup">
                    <p>You can also add another option without entering SPAC each time !</p>
                    <a [routerLink]="['/backadmindetailsadd']" class="btn download-button purchase-button btn-purple ml-auto btn-primary" style="background-color: #313C64;border: none;">Add Administrative</a>
                    <i class="mdi mdi-close"    id="bannerClose"></i>
                  </span>
                    </div>
                    <div class="card-header" style="background-color: #1587B9;font-size:17px;color:white;">
                        ADD TRUST DATA AND RETURN CALCULATION
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Add Trust data</h4>
                            <p class="card-description">
                                All information is validated with instructions
                            </p>
                            <form class="forms-sample">

                                <div class="form-group">
                                    <label for="fk_spac">Spac ID</label>
                                    <select id="fk_spac" class="form-control" required [(ngModel)]="trusts.fk_spac" [ngModelOptions]="{standalone: true}">
                                    <option selected disabled>List spacs</option>
                                    <option *ngFor="let spacheck of spachecks" value="{{ spacheck.idspac }}">{{ spacheck.name }}</option>
                              </select>
                                </div>
                                <div class="form-group">
                                    <label for="ipo_date">IPO Date</label>
                                    <input type="date" class="form-control" id="ipo_date" required [(ngModel)]="trusts.ipo_date" placeholder="IPO Date" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="form-group">
                                    <label for="termination_date">Termination Date</label>
                                    <input type="date" class="form-control" id="termination_date" required [(ngModel)]="trusts.termination_date" placeholder="Termination Date" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="form-group">
                                    <label for="original_length_comb_period">Original Length of Combination Period (months)</label>
                                    <input type="number" class="form-control" id="original_length_comb_period" required [(ngModel)]="trusts.original_length_comb_period" placeholder="Original length comb period" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="form-group">
                                    <label for="extendable">Extendable?</label>
                                    <select class="form-control" id="extendable" required [(ngModel)]="trusts.extendable" [ngModelOptions]="{standalone: true}">
                                        <option selected disabled>Boolen</option>
                                        <option value="true" style="color: black;background-color: white;">Possible</option>
                                        <option value="false" style="color: black;background-color: white;">Not Possible</option>
                                      </select>
                                </div>

                                <div class="form-group">
                                    <label for="warrants_units_at_issuance">Warrants / Unit at Issuance</label>
                                    <input type="text" class="form-control" id="warrants_units_at_issuance" required [(ngModel)]="trusts.warrants_units_at_issuance" placeholder="Warrants units at issuance" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="form-group">
                                    <label for="units_warrants">Units warrants</label>
                                    <input type="text" class="form-control" id="units_warrants" required [(ngModel)]="trusts.units_warrants" placeholder="Units warrants" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="form-group">
                                    <label for="date_latest_filing">Date of Latest Filing</label>
                                    <input type="date" class="form-control" id="date_latest_filing" required [(ngModel)]="trusts.date_latest_filing" placeholder="Date latest filing" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="form-group">
                                    <label for="most_recent_cash_in_trust">Most Recent Cash in Trust</label>
                                    <input type="number" class="form-control" id="most_recent_cash_in_trust" required [(ngModel)]="trusts.most_recent_cash_in_trust" placeholder="Most recent cash in trust" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="form-group">
                                    <label for="most_recent_shares_outsanding">Most recent shares outsanding</label>
                                    <input type="number" class="form-control" id="most_recent_cash_in_trust" required [(ngModel)]="trusts.most_recent_shares_outsanding" placeholder="Most recent shares outsanding" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="form-group">
                                    <label for="most_recent_cash_in_trust_per_share">Most recent cash in trust per share</label>
                                    <input type="number" class="form-control" id="most_recent_cash_in_trust_per_share" required [(ngModel)]="trusts.most_recent_cash_in_trust_per_share" placeholder="Most recent cash in trust per share" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="form-group">
                                    <label for="estimated_monthly_accretion">Estimated monthly accretion</label>
                                    <input type="number" class="form-control" id="estimated_monthly_accretion" required [(ngModel)]="trusts.estimated_monthly_accretion" placeholder="Estimated monthly accretion" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="form-group">
                                    <label for="estimated_cash_at_termination">Estimated cash at termination</label>
                                    <input type="number" class="form-control" id="estimated_cash_at_termination" required [(ngModel)]="trusts.estimated_cash_at_termination" placeholder="Estimated cash at termination" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="form-group">
                                    <label for="return_to_termination">Return to termination</label>
                                    <input type="number" class="form-control" id="return_to_termination" required [(ngModel)]="trusts.return_to_termination" placeholder="Return to termination" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="form-group">
                                    <label for="annualized_return_termination">Annualized return termination</label>
                                    <input type="number" class="form-control" id="annualized_return_termination" required [(ngModel)]="trusts.annualized_return_termination" placeholder="Annualized return termination" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div style="justify-content: center;text-align: center;">
                                    <button type="submit" class="btn btn-primary mr-2" id="submitted_trust" (click)="newTrust()" style="background-color: #313C64;border: none;">Submit</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>




</div>