<div class="col-md-3" id="hello">
    <div id="list-example" class="list-group" style="position: fixed;">
        <a class="list-group-item list-group-item-action" [routerLink]="['/backspacadd']">Spac</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/backoverviewadd']">Overview</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/backtrustadd']">Trust Data</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/backadminadd']">Administrative</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/backadmindetailsadd']">Administrative Details</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/backdiraoffadd']">Directors and Officiers</a>

    </div>
</div>