<div class="row " id="proBanner">
    <div class="col-md-12">
        <h3 style="text-align: center;">
            Ajouter un SPAC
        </h3>

    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">

                <div class="card-body" style="background-color: transparent;">
                    <div class="pop">
                        <span class="align-items-center purchase-popup">
                    <p>You can also add another option without entering SPAC each time !</p>
                    <a [routerLink]="['/backoverviewadd']" class="btn download-button purchase-button btn-purple ml-auto btn-primary" style="background-color: #313C64;border: none;">Add Overview</a>
                    <i class="mdi mdi-close"    id="bannerClose"></i>
                  </span>
                    </div>
                    <div class="card-header" style="background-color: #1587B9;font-size:17px;color:white;">
                        ADD SPAC
                    </div>

                    <!-- <form>
                            <div class="form-group hidden">
                                <label for="fk_users">Manager ID</label>
                                <input type="text" class="form-control" id="fk_users" required [(ngModel)]="spac.fk_users" placeholder="Manager ID" [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="form-group">
                                <label for="name">Nom Spac</label>
                                <input type="text" class="form-control" id="name" required [(ngModel)]="spac.name" aria-describedby="name" placeholder="Name Spac" [ngModelOptions]="{standalone: true}">
                                <small id="name" class="form-text text-muted">Full Name.</small>
                            </div>

                            <div class="form-group">
                                <label for="ticker">Ticker</label>
                                <input type="text" class="form-control" id="ticker" required [(ngModel)]="spac.ticker" placeholder="Ticker" [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="form-group">
                                <label for="cik">Cik</label>
                                <input type="text" class="form-control" id="cik" required [(ngModel)]="spac.cik" placeholder="Cik" [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="form-group">
                                <label for="filins_link">Filins link</label>
                                <input type="text" class="form-control" id="filins_link" required [(ngModel)]="spac.filins_link" placeholder="Filins link" [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="submitted">
                                <button style="background-color: #181258;" class="btn btn-success" id="submitted_spac" (click)="newSpac()">Add</button>
                            </div>

                        </form>
-->

                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Add SPAC</h4>
                            <p class="card-description">
                                All information is validated with instructions
                            </p>
                            <form class="forms-sample">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" placeholder="ACAMAR PARTNERS ACQUISITION ..." id="fk_users" required [(ngModel)]="spac.fk_users" placeholder="Manager ID" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="form-group">
                                    <label for="name">Spac Name</label>
                                    <input type="text" class="form-control" placeholder="ACAMAR PARTNERS ACQUISITION ..." id="name" required [(ngModel)]="spac.name" aria-describedby="name" placeholder="Name Spac" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="form-group">
                                    <label for="ticker">Ticker</label>
                                    <input type="text" class="form-control" placeholder="ACAMU" id="ticker" required [(ngModel)]="spac.ticker" placeholder="Ticker" [ngModelOptions]="{standalone: true}">

                                </div>
                                <div class="form-group">
                                    <label for="Cik">Cik</label>
                                    <input type="text" class="form-control" placeholder="ACAM" id="cik" required [(ngModel)]="spac.cik" placeholder="Cik" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="form-group">
                                    <label for="filins_link">Filins link</label>
                                    <input type="text" class="form-control" placeholder="https://sec.report/Ticker/ACAM" id="filins_link" required [(ngModel)]="spac.filins_link" placeholder="Filins link" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="form-check form-check-flat form-check-primary">
                                </div>
                                <div style="justify-content: center;text-align: center;">
                                    <button type="submit" class="btn btn-primary mr-2" id="submitted_spac" (click)="newSpac()" style="background-color: #313C64;border: none;">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>



        </div>
    </div>




</div>