@media only screen and (min-width:700px) {
    /* For portrait layouts only */
    #a1 {
        background-color: #1587B9;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    #a2 {
        margin-left: 30px;
        background-color: #666D8B;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    #a3 {
        margin-left: 30px;
        background-color: #15B947;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    #a4 {
        margin-left: 30px;
        background-color: #B1A624;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    #a5 {
        margin-left: 30px;
        background-color: #B915A0;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    #a6 {
        margin-left: 30px;
        background-color: #3C3914;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    #a7 {
        margin-left: 30px;
        background-color: #B10115;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
}

.btn-toolbar {
    margin-bottom: 20px;
}

@media only screen and (max-width:700px) {
    /* For portrait layouts only */
    .btn-toolbar {
        margin-bottom: 20px;
        justify-content: center;
    }
    #a1 {
        background-color: #1587B9;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 40%;
        text-align: center;
        margin-bottom: 5px;
        margin-right: 10%;
    }
    #a2 {
        background-color: #666D8B;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 40%;
        margin-bottom: 5px;
    }
    #a3 {
        margin-left: 0px;
        background-color: #15B947;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 40%;
        margin-bottom: 5px;
        margin-right: 10%;
    }
    #a4 {
        background-color: #B1A624;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 40%;
        margin-bottom: 5px;
    }
    #a5 {
        margin-left: 0px;
        background-color: #B915A0;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 40%;
        margin-bottom: 5px;
        margin-right: 10%;
    }
    #a6 {
        background-color: #3C3914;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 40%;
        margin-bottom: 5px;
    }
    #a7 {
        background-color: #B10115;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 40%;
        justify-content: center;
    }
}

.boot tr {
    background-color: #1587B9;
}

#select {
    -moz-border-radius : 2em/*{global-radii-blocks}*/
    ;
    -webkit-border-radius : 2em/*{global-radii-blocks}*/
    ;
    border-radius : 2em/*{global-radii-blocks}*/
    ;
}