<div class="row " id="proBanner" style="padding: 0px 0px 40px 0px;">
    <div class="col-md-12">
        <h3 style="text-align: center;">
            ADD DIRECTORS AND OFFICIERS

        </h3>
    </div>


    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-7">
                <div class="card-body" style="background-color: transparent;">
                    <div class="pop">
                        <span class="align-items-center purchase-popup">
                    <p>You can also add another option without entering SPAC each time !</p>
                    <a [routerLink]="['/backadmindetailsadd']" class="btn download-button purchase-button btn-purple ml-auto btn-primary" style="background-color: #313C64;border: none;">Add Administrative</a>
                    <i class="mdi mdi-close"    id="bannerClose"></i>
                  </span>
                    </div>
                    <div class="card-header" style="background-color: #1587B9;font-size:17px;color:white;">
                        ADD DIRECTORS AND OFFICIERS
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">ADD ADMINISTRATIVE</h4>
                            <p class="card-description">
                                All information is validated with instructions
                            </p>
                            <form>
                                <div class="form-group">
                                    <label for="fk_spac">Spac ID</label>
                                    <select id="fk_spac" class="form-control" required [(ngModel)]="directors_and_officiers.fk_spac" [ngModelOptions]="{standalone: true}">
                <option selected disabled>List spacs</option>
                <option *ngFor="let spacheck of spachecks" value="{{ spacheck.idspac }}">{{ spacheck.name }}</option>
                 </select>
                                </div>

                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" required [(ngModel)]="directors_and_officiers.name" aria-describedby="name" placeholder="Name" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="form-group">
                                    <label for="position">position</label>
                                    <input type="text" class="form-control" id="position" required [(ngModel)]="directors_and_officiers.position" aria-describedby="position" placeholder="position" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="form-group">
                                    <label for="age">age</label>
                                    <input type="text" class="form-control" id="age" required [(ngModel)]="directors_and_officiers.age" aria-describedby="age" placeholder="age" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="form-group">
                                    <label for="description">description</label>
                                    <input type="text" class="form-control" id="description" required [(ngModel)]="directors_and_officiers.description" aria-describedby="name" placeholder="description" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="submitted_directors">
                                    <button style="background-color: #181258;" class="btn btn-success" id="submitted_directors" (click)="newDirectors_and_officiers()">Add</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>




        </div>