<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="md-form">
                <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input" mdbInput>
                <label for="search-input">Search</label>
            </div>
        </div>
        <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="table" style="background-color: white;">
            <thead style="background-color: #1587B9;font-size:17px;color:white;border-radius: 4px;">
                <tr>
                    <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]" scope="col">{{head | titlecase}}
                        <mdb-icon fas icon="sort"></mdb-icon>
                    </th>
                </tr>
            </thead>
            <tbody #row>
                <tr mdbTableCol *ngFor="let spacs of elements; let i = index">
                    <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row"><a [routerLink]="[ '/spacedet', spacs.idspac] " style="text-decoration: none;color:black; ">{{ spacs.Company }}</a></th>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="red-text"><a [routerLink]="[ '/spacedet', spacs.idspac] " style="text-decoration: none;color:black; ">{{ spacs.ticker }}</a></td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{ spacs.intended_industry_focus }}</td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{ spacs.current_market_cap }}</td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{ spacs.last_price}}</td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{ spacs.target}}</td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{ spacs.termination_date }}</td>

                </tr>
            </tbody>
            <tfoot class="grey lighten-5 w-100">
                <tr>
                    <td colspan="4">
                        <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="elements"></mdb-table-pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>