<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <a class="navbar-brand" href="#"> <img src="assets/images/UFP_logo.png" alt="logo" class="logo-dark" /></a>
        </a>
        <button #navbarToggler class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" style="padding: 0;border:none;">
            <i class="fa fa-bars" aria-hidden="true" style="color: #efefef;"></i>
          </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo02" [class.collapse]="collapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active "> <a class="nav-link" routerLink="/" (click)="collapseNav()"><i class="mdi mdi-home" style="font-size: 14px;"></i>&nbsp;&nbsp;Home </a> </li>
                <li class="nav-item"><a class="nav-link" routerLink="/spacs" (click)="collapseNav()"><i class="mdi mdi-poll" style="font-size: 14px;"></i>&nbsp;&nbsp;SPACs </a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/calendar" (click)="collapseNav()"><i class="mdi mdi-calendar-clock" style="font-size: 14px;"></i>&nbsp;&nbsp;Calendar </a></li>
                <li class="nav-item" *ngIf="admin"><a class="nav-link" routerLink="/backspacadd" (click)="collapseNav()"><i class="fa fa-tachometer" aria-hidden="true" style="font-size: 14px;"></i>&nbsp;&nbsp;Dashboard </a></li>

            </ul>

        </div>
        <ul class="nav navbar-nav navbar-right" id="profile">
            <li class="nav-item d-none d-xl-inline-flex user-dropdown" ngbDropdown>
                <a class="nav-link" id="UserDropdown" ngbDropdownToggle aria-expanded="true">
                    <img class="img-xs rounded-circle ml-2" src="assets/images/faces/face8.jpg" alt="Profile image"> <span class="font-weight-normal">{{user}}</span></a>
                <div ngbDropdownMenu aria-labelledby="UserDropdown">
                    <div class="dropdown-header text-center">
                        <img class="img-md rounded-circle" src="assets/images/faces/face8.jpg" alt="Profile image">
                        <p class="mb-1 mt-3">{{ user }}</p>
                        <p class="font-weight-light text-muted mb-0">{{ user }}</p>
                    </div>
                    <a class="dropdown-item"><i class="dropdown-item-icon icon-user text-primary"></i> <span translate>My Profile</span> <span class="badge badge-pill badge-danger">1</span></a>
                    <a class="dropdown-item" (click)="logout()"><i class="dropdown-item-icon icon-power text-primary"></i><span translate>Sign Out</span></a>
                </div>
            </li>
        </ul>
    </div>
</nav>