<div class="row " id="proBanner" style="padding: 0px 0px 40px 0px;">
    <div class="col-md-12">
        <h3 style="text-align: center;">
            Add Admin
        </h3>
    </div>


    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-7">
                <div class="card-body" style="background-color: transparent;">
                    <div class="pop">
                        <span class="align-items-center purchase-popup">
                    <p>You can also add another option without entering SPAC each time !</p>
                    <a [routerLink]="['/backadmindetailsadd']" class="btn download-button purchase-button btn-purple ml-auto btn-primary" style="background-color: #313C64;border: none;">Add Administrative</a>
                    <i class="mdi mdi-close"    id="bannerClose"></i>
                  </span>
                    </div>
                    <div class="card-header" style="background-color: #1587B9;font-size:17px;color:white;">
                        ADD ADMINISTRATIVE
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">ADD ADMINISTRATIVE</h4>
                            <p class="card-description">
                                All information is validated with instructions
                            </p>
                            <form class="form-exemple">
                                <div class="form-group">
                                    <label for="fk_spac">Select Spac</label>
                                    <select id="fk_spac" class="form-control" required [(ngModel)]="admins.fk_spac" [ngModelOptions]="{standalone: true}">
                            <option selected disabled>List spacs</option>
                            <option *ngFor="let spacheck of spachecks" value="{{ spacheck.idspac }}">{{ spacheck.name }}</option>
                             </select>
                                </div>

                                <div class="form-group">
                                    <label for="corporate_address">Corporate address</label>
                                    <input type="text" class="form-control" id="corporate_address" required [(ngModel)]="admins.corporate_address" placeholder="Corporate address" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="form-group">
                                    <label for="incorporation">Incorporation</label>
                                    <input type="text" class="form-control" id="incorporation" required [(ngModel)]="admins.incorporation" placeholder="Incorporation" [ngModelOptions]="{standalone: true}">
                                </div>

                                <div class="form-group">
                                    <label for="telephone">Phone</label>
                                    <input type="text" class="form-control" id="telephone" required [(ngModel)]="admins.telephone" placeholder="telephone" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div style="justify-content: center;text-align: center;">
                                    <button type="submit" class="btn btn-primary mr-2" id="submitted_admin" (click)="newAdmin()" style="background-color: #313C64;border: none;">Submit</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>




        </div>