<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <div class="text-center text-dark p-3" style="background-color: #313C64;">
        <section>
            <a class="btn btn-link btn-floating btn-sm text-light " href="#!" style="font-size: 14px;font-weight: 500;">About UFP</a>
            <a class="btn btn-link btn-floating btn-sm text-light " href="#!" role="button" data-mdb-ripple-color="dark" style="font-size: 14px;font-weight: 500;">Contact</a>
            <a class="btn btn-link btn-floating btn-sm text-light " href="#!" role="button" data-mdb-ripple-color="dark" style="font-size: 14px;font-weight: 500;">FAQ</a>
            <a class="btn btn-link btn-floating btn-sm text-light " href="#!" role="button" data-mdb-ripple-color="dark" style="font-size: 14px;font-weight: 500;">Terms and conditions</a>
            <a class="btn btn-link btn-floating btn-sm text-light " href="#!" role="button" data-mdb-ripple-color="dark" style="font-size: 14px;font-weight: 500;">Privacy Policy</a>
        </section>
    </div>
</footer>